/* Colors Used */
:root {
    --day-color1: #3498db;
    --day-color2: #e74c3c;
    --day-color3: #333;
  }


/* Top Navigation Bar Section */

/* Add a black background color to the top navigation */
.topnav {
    position: fixed;
    /* Keep the navigation bar fixed at the top */
    top: 0;
    /* Position it at the top of the viewport */
    width: 100%;
    /* Make it span the full width of the viewport */
    background-color: #1a191d11;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    color: white;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
    position: absolute;
    /* Position it absolutely within .topnav */
    top: 50%;
    /* Center it vertically */
    right: 16px;
    /* Adjust the right margin as needed */
    transform: translateY(-50%);
    /* Vertically center it using translateY */
}

/* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
@media screen and (max-width: 600px) {

    .topnav a,
    .topnav-right {
        float: none;
        display: block;
    }

    .topnav-centered a {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
    }
}








/* Slider in top navigation bar for day & night style */

/* Slider styles */
.slider {
    position: absolute;
    left: 15%;
    top: 50%;
    transform: translateY(-50%);
    height: 30px;
    width: 90px;
    border: solid 4px white;
    border-radius: 20px;
    transition: background 0.5s;
    z-index: 1;
    /* Place the slider above the navigation links */
}

.slider.light {
    background: #80D8FF;
}

.slider.dark {
    background: #37474F;
}

.slider-toggle {
    /* Sun & Moon*/
    z-index: 1;
    cursor: pointer;
    position: relative;
    height: 22px;
    width: 22px;
    top: 2px;
    left: 4px;
    border-radius: 50%;
    transition: left 0.5s, background 0.5s;
}

.slider-toggle.light {
    border: solid 2px #998c00;
    background: #FFEA00;
}

.slider-toggle.dark {
    border: solid 2px #ecf0f2;
    background: #CFD8DC;
    left: 62px;
}

.slider-accent {
    position: relative;
    z-index: -1;
    box-shadow: 0 0 transparent;
    transition: box-shadow 0.5s;
}

.slider-accent.light {
    left: 44px;
    top: -13px;
    background: #ffffff;
    width: 15px;
    height: 15px;
    border-radius: 5px;
    /* Cloud */
    box-shadow: 8px 0 #ffffff, 15px 0 #ffffff, 8px -5px #ffffff;
}

.slider-accent.dark {
    top: -13px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    /* Stars */
    box-shadow: 15px 0 #cccccc, 45px -5px #cccccc, 30px 5px #cccccc;
}




/* Body for dark style */
body {
    background-color: #1a191d;
    /* Light Gray */
}



/* Styles for Header Elements (h1, h2, h3, etc.) */
h1,
h2,
h3 {
    color: #fffeff;
    /* White headers */
    text-align: center;
}

/* Styles for Paragraphs and Footer */
p,
footer {
    color: #767a81;
    /* Light gray <p> text */
    max-width: 600px;
    /* Adjust the maximum width as needed */
    margin-left: auto;
    /* Center-align the <p> elements on the page */
    margin-right: auto;
}

header {
    padding-top: 50px;
}

.day {
    display: block;
}

.night {
    display: none;
}

.night p {
    color:#767a81;
}